
body{
    margin: 0px;
    text-align: center;
    font-family: 'merriweather';
}
.u{
    position: relative;
    background-color: #9eb5c1;
    padding-top: 110px;
}
.cl-third{
    position: absolute;
    right: 250px;
    top: 250px;

}
h2{
    font-size: 2rem;
    font-weight: normal;
}
p{
    font-family: 'montserrat';
}
.pp{
    width: 15%;
    margin-top: 50px;
}
.skills{
    background-color: aliceblue;
}
.middle-container{
    background-color: aliceblue;
}
.programming{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}
.managemnt{
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}
h1{
    font-size:5.625rem;
    font-family: 'sacramento';
    margin: 50px auto 0;
}
h2,h3{
    font-family: 'montserrat';
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;
    background-color: aliceblue;
}

.pro{
    text-decoration: underline;
}
.sss{
    margin-top: 50px;
}
.intro{
    width: 40%;
    margin: 0 auto 0;
    line-height: 1.5;
    margin-bottom: 50px;
}
.cl-bottom{
    position: absolute;
    left: 20%;
}
.cl{
    position: absolute;
    left: 70%;
    top: 15%;
    
}
hr{
    border-style: none;
    background-color: aliceblue;
    border-top-style:dotted;
    border-width: 5px;
    width: 10%;
    border-color: grey;
    margin: 50px auto 50px;
}
h3{
    color: #264849;
}
.profile{
    width: 73%;
    margin: 0 auto 0 ;
}
a{
    color: #264849;
    font-family: 'montserrat';
    text-decoration: none;
}
a:hover{
    color: #117ab3;
}
.bottom-container{
    background-color: #9eb5c1;
    padding: 20px;
    margin-top: 30px;
}
.m{
    margin-bottom: 30px;
}
.footer-link{
    padding: 20px 50px 0;
}
.btn {
    background: #9eb5c1;
    background-image: -webkit-linear-gradient(top, #9eb5c1, #56798f);
    background-image: -moz-linear-gradient(top, #9eb5c1, #56798f);
    background-image: -ms-linear-gradient(top, #9eb5c1, #56798f);
    background-image: -o-linear-gradient(top, #9eb5c1, #56798f);
    background-image: linear-gradient(to bottom, #9eb5c1, #56798f);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px auto 20px;
  }
  
  .btn:hover {
    background: #9eb5c1;
    background-image: -webkit-linear-gradient(top, #9eb5c1, #3e505c);
    background-image: -moz-linear-gradient(top, #9eb5c1, #3e505c);
    background-image: -ms-linear-gradient(top, #9eb5c1, #3e505c);
    background-image: -o-linear-gradient(top, #9eb5c1, #3e505c);
    background-image: linear-gradient(to bottom, #9eb5c1, #3e505c);
    text-decoration: none;
  }
  .last{
    margin-bottom: 0;
    color : white;
  }
